body {
    margin: 0px 0px;
    padding: 0px;
    background-color: #F3F0EB;
    font-family: '맑은 고딕', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#title {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#sidebar {
    flex: 1;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#user-info, #online-Users {
    border: 1px solid #DEDED3;
    padding: 10px;
    background-color: #FAF8F4;
}

#chat-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    border: 1px solid #DEDED3;
    padding: 20px;
    width: 70%;
    height: 600px;
    max-width: 800px;
    background-color: #FAF8F4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#chat-display {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #DEDED3;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FAF8F4;
}

.system-message {
    color: gray;
    text-align: center; /* 메시지를 가운데 정렬 */
    padding: 5px 0; /* 상하 여백 추가 */
    font-style: italic; /* 기울임체로 표시 */
    background-color: #e9e9e9; /* 알림 메시지의 배경색 */
    margin: 10px 0; /* 알림 메시지의 상하 여백 */
    border-radius: 5px; /* 알림 메시지의 모서리 둥글게 */
}


#chat-input-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

#chat-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #DEDED3;
    border-radius: 4px;
    background-color: #FAF8F4;
    outline-style: none;
}

#send_btn {
    width: 18%;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 2%;
}

#send_btn:hover {
    background-color: #1e5142;
}

#logout-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #DEDED3; /* 배경 */
    color: #000000; /* 흰색 글씨 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #FF6C6C; /* 버튼에 마우스를 올렸을 때의 배경색 */
}
